.card__main {
	margin-bottom: 75px;
	margin-top: 75px;
}

.card__image {
	max-height: 50vh;
}

.card__heading {
	padding: 8px 8px 8px 16px;
}

// Override foro Material's expanded accordian
.MuiAccordion-root.Mui-expanded {
	margin-top: 0px !important;
}
